## `facebook/bart-large-cnn` 
### `pipeline`

In [1]:
from transformers import pipeline

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")

ARTICLE = """ New York (CNN)When Liana Barrientos was 23 years old, she got married in Westchester County, New York.
A year later, she got married again in Westchester County, but to a different man and without divorcing her first husband.
Only 18 days after that marriage, she got hitched yet again. Then, Barrientos declared "I do" five more times, sometimes only within two weeks of each other.
In 2010, she married once more, this time in the Bronx. In an application for a marriage license, she stated it was her "first and only" marriage.
Barrientos, now 39, is facing two criminal counts of "offering a false instrument for filing in the first degree," referring to her false statements on the
2010 marriage license application, according to court documents.
Prosecutors said the marriages were part of an immigration scam.
On Friday, she pleaded not guilty at State Supreme Court in the Bronx, according to her attorney, Christopher Wright, who declined to comment further.
After leaving court, Barrientos was arrested and charged with theft of service and criminal trespass for allegedly sneaking into the New York subway through an emergency exit, said Detective
Annette Markowski, a police spokeswoman. In total, Barrientos has been married 10 times, with nine of her marriages occurring between 1999 and 2002.
All occurred either in Westchester County, Long Island, New Jersey or the Bronx. She is believed to still be married to four men, and at one time, she was married to eight men at once, prosecutors say.
Prosecutors said the immigration scam involved some of her husbands, who filed for permanent residence status shortly after the marriages.
Any divorces happened only after such filings were approved. It was unclear whether any of the men will be prosecuted.
The case was referred to the Bronx District Attorney\'s Office by Immigration and Customs Enforcement and the Department of Homeland Security\'s
Investigation Division. Seven of the men are from so-called "red-flagged" countries, including Egypt, Turkey, Georgia, Pakistan and Mali.
Her eighth husband, Rashid Rajput, was deported in 2006 to his native Pakistan after an investigation by the Joint Terrorism Task Force.
If convicted, Barrientos faces up to four years in prison.  Her next court appearance is scheduled for May 18.
"""

2022-06-14 08:48:48.790156: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-06-14 08:48:49.433280: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 10794 MB memory:  -> device: 0, name: Tesla K80, pci bus id: 0001:00:00.0, compute capability: 3.7

In [2]:
print(summarizer(ARTICLE, max_length=130, min_length=30, do_sample=False))

[{'summary_text': 'Liana Barrientos, 39, is charged with two counts of "offering a false instrument for filing in the first degree" In total, she has been married 10 times, with nine of her marriages occurring between 1999 and 2002. She is believed to still be married to four men.'}]

### `fine tuning this model on my data`

In [1]:
import pandas as pd

In [2]:
data_file = r'response-dialog-sum-all.json'
df = pd.read_json(data_file).drop(columns=['id'])
df = df[:1000]

In [3]:
data = pd.read_json('response-sum.json').drop('id',axis=1)
data.head()

,summ,dialogue
0,manuj wanted to know about the renewal of his ...,prashanth: welcome to celebal tech ivr automat...
1,manuj has made a transaction of 42000 on flipk...,prashanth: welcome to celebal technologies ivr...
2,manuj is not interested in emi option service ...,"prashanth: hi, i am prashanth calling you from..."
3,manuj has made a transaction of 35000 on amazo...,"prashanth: hi, i'm prashanth calling you from ..."
4,manuj wanted to know bout his loan application...,prashanth: welcome to celebal tech bank. manuj...

In [4]:
data_new = data.append(df)

/tmp/ipykernel_25934/2877896904.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_new = data.append(df)

In [15]:
data_new.shape

(1020, 2)

In [16]:
data_new.head()

,summ,dialogue
0,manuj wanted to know about the renewal of his ...,prashanth: welcome to celebal tech ivr automat...
1,manuj has made a transaction of 42000 on flipk...,prashanth: welcome to celebal technologies ivr...
2,manuj is not interested in emi option service ...,"prashanth: hi, i am prashanth calling you from..."
3,manuj has made a transaction of 35000 on amazo...,"prashanth: hi, i'm prashanth calling you from ..."
4,manuj wanted to know bout his loan application...,prashanth: welcome to celebal tech bank. manuj...

In [4]:
# df.columns = ['summary','text']
# df = df.dropna()
# df.head()

,summary,text
0,"mr. smith's getting a check-up, and doctor haw...","person1: hi, mr. smith. i'm doctor hawkins. wh..."
1,mrs parker takes ricky for his vaccines. dr. p...,"person1: hello mrs. parker, how have you been?..."
2,person1's looking for a set of keys and asks f...,"person1: excuse me, did you see a set of keys?..."
3,person1's angry because person2 didn't tell pe...,person1: why didn't you tell me you had a girl...
4,malik invites nikki to dance. nikki agrees if ...,"person1: watsup, ladies! y'll looking'fine ton..."

In [5]:
# df = df[:1000]

In [18]:
from sklearn.model_selection import train_test_split
train_df,test_df = train_test_split(df,test_size=0.15)
train_df.shape,test_df.shape

((850, 2), (150, 2))

In [19]:
import datasets
import pandas as pd
from fastai.text.all import *
#from transformers import *

from blurr.text.data.all import *
from blurr.text.modeling.all import *

import nltk
nltk.download('punkt', quiet=True)

True

In [20]:
import transformers
from transformers import BartForConditionalGeneration

In [21]:
pretrained_model_name = "facebook/bart-large-cnn"
hf_arch, hf_config, hf_tokenizer, hf_model = get_hf_objects(pretrained_model_name, 
                                                                  model_cls=BartForConditionalGeneration)

In [22]:
hf_batch_tfm = Seq2SeqBatchTokenizeTransform(hf_arch, hf_config, hf_tokenizer, hf_model, 
    task='summarization',
    text_gen_kwargs=
 {'max_length': 248,'min_length': 56,'do_sample': False, 'early_stopping': True, 'num_beams': 4, 'temperature': 1.0, 
  'top_k': 50, 'top_p': 1.0, 'repetition_penalty': 1.0, 'bad_words_ids': None, 'bos_token_id': 0, 'pad_token_id': 1,
 'eos_token_id': 2, 'length_penalty': 2.0, 'no_repeat_ngram_size': 3, 'encoder_no_repeat_ngram_size': 0,
 'num_return_sequences': 1, 'decoder_start_token_id': 2, 'use_cache': True, 'num_beam_groups': 1,
 'diversity_penalty': 0.0, 'output_attentions': False, 'output_hidden_states': False, 'output_scores': False,
 'return_dict_in_generate': False, 'forced_bos_token_id': 0, 'forced_eos_token_id': 2, 'remove_invalid_values': False})

In [23]:
blocks = (Seq2SeqTextBlock(batch_tokenize_tfm=hf_batch_tfm), noop)
blocks

(<blurr.text.data.seq2seq.core.Seq2SeqTextBlock at 0x7f7f1fd74760>,
 <function fastai.imports.noop(x=None, *args, **kwargs)>)

In [25]:
dblock = DataBlock(blocks=blocks, get_x=ColReader('dialogue'), get_y=ColReader('summ'), splitter=RandomSplitter())
dls = dblock.dataloaders(df, batch_size = 16)

In [26]:
seq2seq_metrics = {
        'rouge': {
            'compute_kwargs': { 'rouge_types': ["rouge1", "rouge2", "rougeL"], 'use_stemmer': True },
            'returns': ["rouge1", "rouge2", "rougeL"]
        },
        'bertscore': {
            'compute_kwargs': { 'lang': 'en' },
            'returns': ["precision", "recall", "f1"]
        }
    }

In [27]:
# !pip install bert_score

In [28]:
model = BaseModelWrapper(hf_model)
learn_cbs = [BaseModelCallback]
fit_cbs = [Seq2SeqMetricsCallback(custom_metrics=seq2seq_metrics)]

learn = Learner(dls, 
                model,
                opt_func=ranger,
                loss_func=CrossEntropyLossFlat(),
                cbs=learn_cbs,
                splitter=partial(blurr_seq2seq_splitter, arch=hf_arch)).to_fp16()

learn.create_opt() 
learn.freeze()

In [ ]:
learn.fit_one_cycle(10, lr_max=3e-5, cbs=fit_cbs)

/home/harshvardhan-pathak/Workspace/Customer_analytics/canalytics_env/lib/python3.8/site-packages/torch/amp/autocast_mode.py:198: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')
/home/harshvardhan-pathak/Workspace/Customer_analytics/canalytics_env/lib/python3.8/site-packages/torch/cuda/amp/grad_scaler.py:115: UserWarning: torch.cuda.amp.GradScaler is enabled, but CUDA is not available.  Disabling.
  warnings.warn("torch.cuda.amp.GradScaler is enabled, but CUDA is not available.  Disabling.")

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

In [ ]:
learn.show_results(learner=learn, max_n=2)

In [ ]:
test_article = """
The past 12 months have been the worst for aviation fatalities so far this decade - with the total of number of people killed if airline 
crashes reaching 1,050 even before the Air Asia plane vanished. Two incidents involving Malaysia Airlines planes - one over eastern Ukraine and the other in the Indian Ocean - led to the deaths of 537 people, while an Air Algerie crash in Mali killed 116 and TransAsia Airways crash in Taiwan killed a further 49 people. The remaining 456 fatalities were largely in incidents involving small commercial planes or private aircraft operating on behalf of companies, governments or organisations. Despite 2014 having the highest number of fatalities so far this decade, the total number of crashes was in fact the lowest since the first commercial jet airliner took off in 1949 - totalling just 111 across the whole world over the past 12 months. The all-time deadliest year for aviation was 1972 when a staggering 2,429 people were killed in a total of 55 plane crashes - including the crash of Aeroflot Flight 217, which killed 174 people in Russia, and Convair 990 Coronado, which claimed 155 lives in Spain. However this year's total death count of 1,212, including those presumed dead on board the missing Air Asia flight, marks a significant rise on the very low 265 fatalities in 2013 - which led to it being named the safest year in aviation since the end of the Second World War. Scroll down for videos. Deadly: The past 12 months have been the worst for aviation fatalities so far this decade - with the total of number of people killed if airline crashes reaching 1,158 even before the Air Asia plane (pictured) vanished. Fatal: Two incidents involving Malaysia Airlines planes - one over eastern Ukraine (pictured) and the other in the Indian Ocean - led to the deaths of 537 people. Surprising: Despite 2014 having the highest number of fatalities so far this decade, the total number of crashes was in fact the lowest since the first commercial jet airliner took off in 1949. 2014 has been a horrific year for Malaysia-based airlines, with 537 people dying on Malaysia Airlines planes, and a further 162 people missing and feared dead in this week's Air Asia incident. In total more than half the people killed in aviation incidents this year had been flying on board Malaysia-registered planes. In January a total of 12 people lost their lives in five separate incidents, while the same number of crashes in February killed 107. 
"""

In [ ]:
print('The past 12 months have been the worst for aviation fatalities so far this decade - with the total of number of people killed if airline crashes reaching 1,050 even before the Air Asia plane vanished. Two incidents involving Malaysia Airlines planes - one over eastern Ukraine and the other in the Indian Ocean - led to the deaths of 537 people, while an Air Algerie crash in Mali killed 116 and TransAsia Airways crash in Taiwan killed a further 49 people. The remaining 456 fatalities were largely in incidents involving small commercial planes or private aircraft operating on behalf of companies, governments or organisations. Despite 2014 having the highest number of fatalities so far this decade, the total number of crashes was in fact the lowest since the first commercial jet airliner took off in 1949 - totalling just 111 across the whole world over the past 12 months. The all-time deadliest year for aviation was 1972 when a staggering 2,429 people were killed in a total of 55 plane crashes - including the crash of Aeroflot Flight 217, which killed 174 people in Russia, and Convair 990 Coronado, which claimed 155 lives in Spain. However this years total death count of 1,212, including those presumed dead on board the missing Air Asia flight, marks a significant rise on the very low 265 fatalities in 2013 - which led to it being named the safest year in aviation since the end of the Second World War. Scroll down for videos. Deadly: The past 12 months have been the worst for aviation fatalities so far this decade - with the total of number of people killed if airline crashes reaching 1,158 even before the Air Asia plane (pictured) vanished. Fatal: Two incidents involving Malaysia Airlines planes - one over eastern Ukraine (pictured) and the other in the Indian Ocean - led to the deaths of 537 people. Surprising: Despite 2014 having the highest number of fatalities so far this decade, the total number of crashes was in fact the lowest since the first commercial jet airliner took off in 1949. 2014 has been a horrific year for Malaysia-based airlines, with 537 people dying on Malaysia Airlines planes, and a further 162 people missing and feared dead in this weeks Air Asia incident. In total more than half the people killed in aviation incidents this year had been flying on board Malaysia-registered planes. In January a total of 12 people lost their lives in five separate incidents, while the same number of crashes in February killed 107.')

In [ ]:
outputs = learn.blurr_summarize(test_article, early_stopping=True, num_beams=4, num_return_sequences=3)

for idx, o in enumerate(outputs):
    print(f'=== Prediction {idx+1} ===\n{o}\n')

In [ ]:
learn.metrics = None
learn.export(fname='ft_cnndm_export.pkl')

In [ ]:
inf_learn = load_learner(fname='ft_cnndm_export.pkl')
inf_learn.blurr_summarize(test_article)

# On our data

In [ ]:
data_file = r'our_data.json'
df = pd.read_json(data_file)

In [ ]:
df.head()

In [ ]:
summ = []
for i in df.dialogue:
    summary = inf_learn.blurr_summarize(i)
    summ.append(summary)

In [15]:
df['prediction'] = summ

In [16]:
df.head()

,id,summ,dialogue,prediction
0,10,"manuj wanted to know about the renewal of his policy. his mobile number is 9998887776, date of birth is 25th august 2021, prashanth has send him the renewal payemt link.",prashanth: welcome to celebal tech ivr automation demo. hi how are you? manuj: i'm fine. prashanth: thank you for calling city health insurance my name is prashanth. how can i help you today? manuj: i have an health policy with you. i wanted to know do i need to renew the policy?\nprashanth: of course i can do that. could you please confirm few details before i give you the necessary information? could you please tell me your registered mobile number? manuj: yeah sure it's 9998887776. i can confirm that you have active health insurance policy with us. can you confirm your name and date of ...,[{'summary_texts': ' manuj calls city health insurance to renew his health insurance policy. prashanth will send him a payment link of renewal for the 2 year option. manuj will receive the payment link on his registered mobile number and email address and will share the link with him shortly.'}]
1,12,"manuj has made a transaction of 42000 on flipkart on 16th oct 2021 through your credit card, he is ready to pay full payment.","prashanth: welcome to celebal technologies ivr automation demo. i can help with bank related queries. manuj:hello. prashanth:hello, i'm prashanth calling from celebal bank. am i talking to mr manuj? manuj:yes you are. prashanth:thanks for confirming your name mr manuj. this call is being recorded by celebal tech bank. for security reasons, please do not share your cvv and otp with anyone.\nmanuj: okay. prashanth:i can see that you have recently done the transaction of 42,000 from flipkart on 16th oct 2021 through your credit card. you can instantly get this amount converted into emi. would...","[{'summary_texts': ' mr manuj calls prashanth from celebal bank to ask about converting the 42,000 from flipkart transaction into emi. by opting for emi, manuj won't block a big amount and it won't affect his monthly budget.'}]"
2,13,manuj is not interested in emi option service and he wanted to talk to an agent,"prashanth: hi, i am prashanth calling you from sellable check bank. we have and emi offer specially created for you. would you like to know more about the offers? manuj: no i am not interested. prashanth: i respect that, sir, but by opting for an emi you are not blocking huge cash which makes your personal budgeting for the month easier. you can also get to know precisely how much money you need to pay towards the emi each month. would you like to know about the offer? manuj: no , i wolud like to talk to your agent. prashanth: please wait while we are transferring your call to our agent.",[{'summary_texts': ' manuj calls prashanth from sellable check bank to talk about an emi offer specially created for manuj. prashant tells manuj that by opting for the emi you are not blocking huge cash which makes budgeting for the month easier. manuj prefers to talk to the agent.'}]
3,14,manuj has made a transaction of 35000 on amazona and he is ready to full payment.,"prashanth: hi, i'm prashanth calling you from celebal tech bank. we have and emi offer specially created for you. would you like to know more about the offer?\nmanuj: yes sure.\nprashanth: this call is being recorded by celebal tech bank. for security reasons, please do not share your cvv and otp with anyone. as i can see a transaction of 35,000 done on amazon. would you like to convert this into emi? manuj:yes, convert this one. prashanth :that's a great choice, sir. could you please confirm at what tenure would you be interested in?\nmanuj: tell me the monthly payment for the tenure of 6...","[{'summary_texts': ' prashanth calls manuj from celebal tech bank to suggest an emi offer specially created for manuj to convert a transaction of 35,000 done on amazon into emi. manuj is happy to pay full payment and will keep banking with celebal bank.'}]"
4,15,"manuj wanted to know bout his loan application, his mobile number is 9998887776, his date of birth is 20 june 1999, he have an active loan application and he had received a payment link on his email address",prashanth: welcome to celebal tech bank. manuj: hi how are you? prashanth: i'm fine. thank you for calling us my name is prashanth. how can i help you today? manuj: i have an loan application with you. i wanted to know the status of it ? prashanth: of course i can do that. could you please confirm few details before i give you the necessary information? could you please tell me your registered mobile number? manuj: yeah sure it's 9998887776. i can confirm that you have active loan applictation with us. can you confirm your name and date of birth for authentication? manuj: sure my name is m...,[{'summary_texts': ' prashanth calls manuj to confirm the status of the loan application with celebal tech bank. manuj confirms that the application is accepted and will send the payment link to prashath's mobile number and email to manuj's email address to confirm payment.'}]

In [17]:
df.to_csv('with_prediction.csv')

In [18]:
dicts = {}
lists = []
for i in range(len(df)):
    dicts = {"id":i,
             "summary":df.summ[i],
             "prediction":df.prediction[i]
            }
    lists.append(dicts)

In [19]:
for i in lists:
    print(i)
    print('--'*50)
    print('--'*50)
    print('--'*50)

{'id': 0, 'summary': 'manuj wanted to know about the renewal of his policy. his mobile number is 9998887776, date of birth is 25th august 2021, prashanth has send him the renewal payemt link.', 'prediction': [{'summary_texts': ' manuj calls city health insurance to renew his health insurance policy. prashanth will send him a payment link of renewal for the 2 year option. manuj will receive the payment link on his registered mobile number and email address and will share the link with him shortly.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 1, 'summary': 'manuj has made a transaction of 42000 on flipkart on 16th oct 2021 through your credit card, he is ready to pay full payment.', 'prediction': [{'summary_texts': " mr manuj calls prashanth from celebal bank to ask about converting the 42,000 from flipkart transaction into emi. by opting for emi, manuj won't block a big amount and it won't affect his monthly budget."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 2, 'summary': 'manuj is not interested in emi option service and he wanted to talk to an agent', 'prediction': [{'summary_texts': ' manuj calls prashanth from sellable check bank to talk about an emi offer specially created for manuj. prashant tells manuj that by opting for the emi you are not blocking huge cash which makes budgeting for the month easier. manuj prefers to talk to the agent.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 3, 'summary': 'manuj has made a transaction of 35000 on amazona and he is ready to full payment.', 'prediction': [{'summary_texts': ' prashanth calls manuj from celebal tech bank to suggest an emi offer specially created for manuj to convert a transaction of 35,000 done on amazon into emi. manuj is happy to pay full payment and will keep banking with celebal bank.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 4, 'summary': 'manuj wanted to know bout his loan application, his mobile number is 9998887776, his date of birth is 20 june 1999, he have an active loan application and he had received a payment link on his email address', 'prediction': [{'summary_texts': " prashanth calls manuj to confirm the status of the loan application with celebal tech bank. manuj confirms that the application is accepted and will send the payment link to prashath's mobile number and email to manuj's email address to confirm payment."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 5, 'summary': 'manuj has made a transaction of 40000 on myntra but he do not wanted to convert this int emi, he wanted to convert his 25000 transaction on nyka into emi and he also wanted to cconvert his 12000 transaction on flipkart into emi which is a 6 month emi with payment of 2171 per month and a processing fees of 450, his cresdit limit is 90000 ,his date of birth is 2 may 1975 and postal code is 263139.', 'prediction': [{'summary_texts': ' neerja calls sellable tech bank to convert a transaction of 12,000 on flipkart into an emi. manuj asks for details like credit limit and date of birth. prashanth tells manuj the emi amount will be temporarily kept on hold in your credit card limit and when you pay your emi the limit will be released.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 6, 'summary': 'manuj has done a transaction of 30000 on snapdeal and he do not wanted this to convert into emi, but he wanted a personal loan of 1000000', 'prediction': [{'summary_texts': " manuj calls prashanth to ask for a personal loan. prashant will contact manuj soon with details of the loan and will send a person to personuj's details soon with the details of a loan to manuj's personal loan to pay for the loan."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 7, 'summary': 'manuj has done a transaction of 14000 on flipkart and he do not want to convert this into emi, he want a home loan of 2500000', 'prediction': [{'summary_texts': ' manuj needs a loan from sellable tech bank. prashanth records the call and asks manuj to convert the transaction of 14,000 on flipkart into emi. prasanth will reach out to manuj soon with the details of the loan.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 8, 'summary': 'manuj had made a transaction of 40000 at flipkart but he do not want to convert this into emi, he wanted a study loan of 300000', 'prediction': [{'summary_texts': ' manuj calls celebal tech bank to get a loan. prashanth records the call and asks manuj to convert it into emi. manuj will need 300,000 to get the loan and will be contacted soon by a customer representative of celebal technology bank.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 9, 'summary': 'manuj had done a transaction of 60,000 done on boohoo but he do not want to convrt this into emi, he wanted to convert his 35000 transaction on snapdeal to emi of 6 months.', 'prediction': [{'summary_texts': ' celebal tech bank has and emi offer specially created for you. prashanth calls manuj and asks him to convert a transaction done on boohoo and snapdeal into emi. he asks manuj to tell him the tenure period and the monthly payment for 6 month emi option.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 10, 'summary': 'manuj has an active health insurance plan with city insurance that will be costing 3256 and will be renewed every 2 years. manuj wants payment reminders', 'prediction': [{'summary_texts': " rahul calls city insurance to renew his health insurance policy. prashanth will send a payment link of renewal for the 2 year option and will share the link with manuj shortly. manuj will receive the payment link on manuj's registered mobile number."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 11, 'summary': 'manuj acquires axis bank credit card holder benefit by availing a emi on 35,000 at the rate of 3196 for 10 months. Interest are taxable, tax-inclusive processing charges of 300 on the first installment and pre-closure charges on the oustanding are applicable.', 'prediction': [{'summary_texts': " mr soumya calls celebal technologies ivr automation to book a special emi facility on axis bank credit card. mr Soumya's transaction of 75,000 from flipkart is converted into emi with an interest rate starting from 14% per annum."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 12, 'summary': 'manuj upgrades his credit card online transaction limit from 2,00,000 to 2,50,000', 'prediction': [{'summary_texts': ' manuj calls celebal technologies ivr automation demo to update his online transaction limit. prashanth helps manuj update the limit for online transactions to 250,000 and asks manuj to talk to an agent to update the new limit to 50,000.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 13, 'summary': 'raghav wanted to know his loan application status which was accepted and was active at that moment. he will receive loan re-pay link', 'prediction': [{'summary_texts': " raghav calls celebal tech bank to apply for a loan. prashanth confirms that the loan is accepted and will send the details link to manuj's registered mobile number and email address to send the payment link on the phone number and the email address of manuj."}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 14, 'summary': 'manuj acquires celebal bank credit card holder benefit by availing a 4 month emi plan on 42,000 flipkart puchase made on 16th october 2021 at the rate of 10,670 with the interest rate of 12%. Interest are taxable, tax-exclusive processing charges of 250 on the first installment and pre-closure charges on the oustanding are applicable.manuj upgrades his credit card online transaction limit from 95,000 to 180,000. call transferred to human agent on user request due to unsatisfactory conversation quality.', 'prediction': [{'summary_texts': ' mr manuj calls celebal tech bank to convert 42,000 from flipkart into emi. prashanth suggests an emi offer which will reduce the one time payment burden. manuj asks for details like credit limit and postal code before he book his emi option.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 15, 'summary': 'manuj applied for car loan of 7,00,000 instead of availing the emi offer on the 57,000 flipkart purchase.', 'prediction': [{'summary_texts': ' prashanth calls manuj from celebal tech bank to convert an emi offer into a loan. manuj wants a car loan instead. prashath records the call and asks manuj how much amount he will need for this loan and locks his details.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 16, 'summary': 'credit card online transaction limit upgrade request cancelled by user manuj. call transferred to human agent on user request', 'prediction': [{'summary_texts': ' manuj wants to update his online transaction limit for his credit card. prashanth helps him update the transaction limit on the credit card to 50,000. manuj cancels the update limit request and wants to talk to an agent to update the credit limit to 35,000 for online transactions.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 17, 'summary': 'credit card online transaction limit upgrade request cancelled by user manuj. call transferred to human agent on user request', 'prediction': [{'summary_texts': ' manuj wants to update his online transaction limit to 60,000 for online transactions. celebal technologies ivr automation can help with bank related queries. manuj cancels the update limit request and calls an agent to talk to the agent to update the credit limit.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 18, 'summary': 'manuj acquires celebal bank  credit card holder benefit by availing a emi on 30,000 at the rate of 3196 for 10 months. Interest are taxable, tax-inclusive processing charges of 300 on the first installment and pre-closure charges on the oustanding are applicable. manuj upgrades his credit card online transaction limit from 80,000 to 1,50,000. call transferred to human agent on user request.', 'prediction': [{'summary_texts': ' mr rahul calls celebal bank credit card to book a special emi facility on celebal credit card. mr mr will get an interest rate starting from 14% per annum for the 10 years, 10 months tenure period and the monthly emi will be 3196 for the tenure of 10 months.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
{'id': 19, 'summary': 'manuj acquires celebal bank  credit card holder benefit by availing a emi on 20,000 at the rate of 2276 for 10 months. Interest are taxable, tax-inclusive processing charges of 450 on the first installment and pre-closure charges on the oustanding are applicable. manuj upgrades his credit card online transaction limit from 60,000 to 90,000.', 'prediction': [{'summary_texts': ' mr rahul uses celebal bank credit card to convert purchases above 2500 into easy monthly installments and enjoy paying back and easy in settlements. celebal offers a special emi facility on your card so that you can convert your purchases. add an interest rate starting from 14% per annum and a special interest rate for 10 month tenure period.'}]}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------

## `Integration -------------------------------------------------`

In [5]:
import docx

In [6]:
docx

In [24]:
import docx.document

ModuleNotFoundError: No module named 'docx.document'; 'docx' is not a package

In [22]:
import docx
def preprocess_transcript(doc_path):
    doc = docx.Document(doc_path)
    speakers = []
    resp = []
    new_paras = [p.text for p in doc.paragraphs if p.text]
    speaker_map = {'Agent': None, 'Customer': None}
    for n,i in enumerate(new_paras):
        a = i.split('\n')
        if n==0:
            speaker_map['Agent'] = a[1]
            
        new_paras_better = f"{a[2]}".replace("Kashetti Prashanth", "Prashanth").replace("Manuj Kumar Joshi", "Manuj")
        resp.append([ a[1], process_timestamp(a[0]), new_paras_better])
        
    return resp, speaker_map

In [23]:
doc_text_with_ts, speaker_map = preprocess_transcript('21.docx')

AttributeError: module 'docx' has no attribute 'Document'

In [60]:
def extract_text(doc_text_with_ts):
    text = []
    for i in doc_text_with_ts:
        text.append(f"{i[0]}: {i[2]}")
    return preprocess(' '.join(map(str, text)))

In [57]:
txt = extract_text(doc_text_with_ts)

NameError: name 'doc_text_with_ts' is not defined